* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#home {
  width: 100%;
  min-height: 100vh;
}

#logo img {
  width: 100px;
  height: 100px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

#right {
  display: flex;
  gap: 20px;
}

#right a {
  text-decoration: none;
  color: black;
}

#homemain {
  padding: 15vw 16vw;
  font-size: 1.5vw;
}

#homemain h4 {
  font-weight: 500;
}

.headings {
  display: flex;
  gap: 1.5vw;
}

.headings h1 {
  font-weight: 500;
  font-size: 7vw;
  letter-spacing: -5px;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px black;
}
